{% extends 'nav.html' %}
{% block content %}

        
    '''
    add nav here
    '''
    
    <h1>In order to create a more perfect World</h1>
    <h1>We the Quotable Quotes Team created this Webpage</h1>
    <h1>To help mankind</h1>
    
    '''
    add images or bios if wanted
    '''
        
    Creators  Manuela Farhi
    Tara May
    David Kramer
    David Stevens
    
    With invaluable help from
    Lee Harvey
    Walden Wang
    Yusuf Bolden


{% endblock content %}


'''
add nav here
'''

<h1>In order to create a more perfect World</h1>
<h1>We the Quotable Quotes Team created this Webpage</h1>
<h1>To help mankind</h1>

'''
add images or bios if wanted
'''

    Creators  Manuela Farhi
    Tara May
    David Kramer
    David Stevens
    
              With invaluable help from
              Lee Harvey
              Walden Wang
              Yusuf

{% endblock content %}
