<!--Html page giving a little insight to the Quotable quotes team and our app -->

{% extends 'nav.html' %}
{% block content %}

<center>

    <h1>About Us</h1>

    <table style="border-collapse: collapse; width: 75%;" border="0">
        <tbody>
            <tr>
                <td>
                    <p>A quote can motivate and inspire us towards our goals or plan of action. Quotes have the power to
                        unlock our better moods, and help us brainstorm ideas we need. Quotes often deliver knowledge
                        and truth to a part of life we may have missed.&nbsp;</span></p>
                    <p><strong>Our Vision:</strong>&nbsp; Our group took on this challenge of easily accessing quotes to
                        the public because we have a passion for making a difference in everyone&rsquo;s lives. An
                        anonymous author once wrote: <i>"Don't ever underestimate the impact that you may have on
                            someone else's life."</i></p>
                
                    <table
                        style="height: 54px; width: 95%; border-collapse: collapse; border-style: solid; border-color: purple; margin-left: auto; margin-right: auto;"
                        border="3" cellspacing="0" cellpadding="5">
                        <tbody>
                        <tbody>
                            <tr style="text-align: center;">
                                <td style="width: 25%;"><img src="https://user-images.githubusercontent.com/98430863/170394379-5be68951-d972-425a-9170-9560f58159eb.jpg"><br><b>Tara May</b><br><a href ="https://www.github.com/taramay21"  target="_blank">@TaraMay21</a></td>
                                <td style="width: 25%;"><img src="https://user-images.githubusercontent.com/98430863/170394327-6addfb56-3d1d-410b-8cbd-daec3b046b50.jpg"><br><b>Manuela Farhi</b><br><a href ="https://www.github.com/1mfarhi"  target="_blank">@1mfarhi</a></td>
                                <td style="width: 25%;"><img src="https://user-images.githubusercontent.com/98430863/170394442-33f7d5ab-c48c-4b44-8016-38dc8d9a6a0d.jpg"><br><b>David Stevens</b><br><a href ="https://www.github.com/dstevens2712"  target="_blank">@dstevens2712</a></td>
                                <td style="width: 25%;"><img src="https://user-images.githubusercontent.com/98430863/170394455-19ad541e-5c71-4e78-a8e3-5fc125d34b0c.jpg"><br><b>David Kramer</b><br><a href ="https://www.github.com/dave218"  target="_blank">@Dave218</a></td>
                            </tr>
                            <tr>
                                <td style="width: 25%; vertical-align:top;">
                                    I have loved quotes from an early age. There is something remarkable when a quote
                                    stands out to a person and can literally change their perspective on life.<br><br>
                                    What I love about a quote is a quote can come from anywhere, anyone, all walks of
                                    life!<br><br>
                                    Many quotes have stood the test of time transforming the outlooks of one's
                                    perspective.
                                </td>
                                <td style="width: 25%; vertical-align:top;">
                                    I believe that quotes have the power to create optimism and hope with their
                                    encouraging wisdom and insight.<br><br>
                                    I observe that these positive notes bring light and happiness into my day, assist me
                                    to see life with a wider perspective, and require minimal effort to read.<br><br>
                                    If I feel energized to take action I know this can only positively influence others,
                                    even just a little bit.
                                </td>
                                <td style="width: 25%; vertical-align:top;">
                                    Served five years in the US Navy as an Electrician. Served four years in the
                                    California and Virginia Army National Guard first as a Combat Medic then as a Combat
                                    Engineer.<br><br>
                                    Managed the Geotimes Magazine subscription database for four years. Worked as the
                                    Stay-at-home parent for 20 years.<br><br>
                                    Justice impacted in 2017. Currently trying to become a Database Engineer.
                                </td>
                                <td style="width: 25%; vertical-align:top;">
                                    Quotes have helped me get through many rough times in my life, it helped me see the
                                    roses past the thorns, and see the rainbow during a storm.<br><br>
                                    They may mean one thing today, and in a few years can have a totally different
                                    meaning. It may mean nothing to you now, but at some later point, it just hits
                                    home.<br><br>
                                    There is a quote for every situation you may be in, I hope you find yours, and may
                                    it transform your life!
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </td>
            </tr>
        </tbody>
    </table>
    <br><br><br><br><br>
</center>


'''
add nav here
'''

<h1>In order to create a more perfect World</h1>
<h1>We the Quotable Quotes Team created this Webpage</h1>
<h1>To help mankind</h1>

'''
add images or bios if wanted
'''

    Creators  Manuela Farhi
    Tara May
    David Kramer
    David Stevens
    
              With invaluable help from
              Lee Harvey
              Walden Wang
              Yusuf

{% endblock content %}
