<!-- Home page -->

{% extends 'nav.html' %}
{% block content %}

<br><br><br>
    
<center>
    <h1>Random Quote!</h1>
    <p>
        {{ daily.text }}<br>
        <label>- {{ daily.author.author }}</label>
    </p>
    <input type='text' name='search' placeholder='Search Here for a Quote'>&nbsp</input>
    <input type='submit' value='Search'/>
    <br><br><br>
    <h2>Choose A Quote Category</h2>
    <form action="{% url 'results' %}" method="GET">
    {% for category in categories %}
        <input type='submit' name='category' value={{category}}>&nbsp &nbsp</input>
    {% endfor %}
    </form>
        
    
</center>

{% endblock content %}

