<!-- Home page that displayes the random quote, category button tags, search bar(after mvp) and nav bar that takes you to about, add or home -->

{% extends 'nav.html' %}
{% block content %}

<!-- this code will create a table for the random quotes to display -->
<br><br><br>
<style>
    table {
      max-width: 45%;
      border: 3px solid purple;
      border-radius: 15px;
      padding: 15px;
    }
</style>
    
<center>
    <h1>Random Quote!</h1>
    <p>
        {{ daily.text }}<br>
        <label>- {{ daily.author.author }}</label>
    </p>

<!-- here we search all quotes and all author, to display a quote input or an author input -->
    <h1>Search for a quote or author</h1>
<form action="{% url 'search' %}" method="get">
  {% csrf_token %}
  <input name="quote" type="text" placeholder="Search..." />
  <input type='submit' value='Search'/> 
</form>
    
    <br><br><br>
    <h3>Choose A Quote Category</h3>
<table>
<tr>
<td><center>
   <!--   We use a form to display the quotes organized by categories-->
    <form action="{% url 'results' %}" method="GET">
    {% for category in categories %}
        <input type='submit' name='category' value={{category}} style="margin-bottom:10px">&nbsp &nbsp</input>
    {% endfor %}
    </form></center>
<!-- We indicate an end to the table, its rows and data -->
</td>
</tr>
</table>    
    
</center>

{% endblock content %}


