{% extends 'nav.html' %}
{% block content %}

<!-- this code will create a table for search input -->
<style>
  table {
    max-width: 85%;
    padding-left: 35px;
  }
</style>
<table>
  <tr>
    <td>
      <h1>Search for a quote or author</h1>
      <form action="{% url 'search' %}" method="get">
        {% csrf_token %}
        <input name="quote" type="text" placeholder="Search..." />
        <input type='submit' value='Search'/> 
      </form>
<br>
<!-- a search by quotes -->
      {% for quote in quotes %}
      <li>{{quote}} -{{quote.author}}<br><br></li>
      {% endfor %}

      <!-- a search by author -->
      {% for author_quote in author_quotes %}
      <li>{{author_quote.text}} -{{author_quote.author}}<br><br></li>
      {% endfor %}    
    </td>
  </tr>
</table>

{% endblock content %}